@charset "UTF-8";
/*-----------------------------------------------------------------------------Comienzo del Reset Css-----------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.4em;
  background-color: rgb(18, 18, 18);
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  color: inherit;
}

/*----------------------------------------------------------------------Final del Reseteo de Css---------------------------------------------------------------------------*/
header {
  background-color: rgb(124, 20, 222);
  min-height: 15vh;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header-superior {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}
header .logo {
  width: auto;
  height: 15vh;
  margin-right: 5px;
}
header .search-bar {
  background-color: #fff;
  width: 20vw;
  height: 5vh;
  border: #000000 solid 0.125rem;
  border-radius: 1.875rem;
  display: flex;
  align-items: center;
}
header .search-bar input {
  font-size: 1.063em;
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  cursor: text;
}
header .search-bar input::placeholder {
  color: #888;
  font-family: Arial, Helvetica, sans-serif;
}
header .search-bar button {
  background-color: transparent;
  width: 3vw;
  height: 5vh;
  border-radius: 1.875rem;
  cursor: pointer;
}
header .iconos-header {
  display: flex;
  gap: 10px;
}
header .carrito-icon i {
  font-size: 1.563em;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}
header .login-icon i {
  font-size: 1.563em;
  color: rgb(255, 255, 255);
}

nav .navbar-brand {
  color: rgb(255, 255, 255);
  font-size: 1.375rem;
  font-family: Arial, Helvetica, sans-serif;
  transition: outline-offset 0.2s ease, background 0.2s ease;
}
nav .navbar-brand:hover {
  color: rgb(255, 255, 255);
}
nav .navbar-brand:focus {
  color: rgb(255, 255, 255);
  outline: 0.125rem solid rgb(255, 255, 255);
  outline-offset: 0.1875rem;
}

.navbar .nav-link {
  color: rgb(255, 255, 255);
  font-size: 1.375rem;
  font-family: Arial, Helvetica, sans-serif;
  transition: outline-offset 0.2s ease, background 0.2s ease;
}
.navbar .nav-link:focus {
  outline: 0.125rem solid rgb(255, 255, 255);
  outline-offset: 0.1875rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
nav ul li {
  display: inline-block;
  margin: 10px;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 1.875em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-bottom: 15px;
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 15px;
}

h3 {
  color: rgb(255, 255, 255);
  font-size: 1.125em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.contenedor-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedor-index .product-flex {
  flex: 1 0 30vw;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contenedor-index .img-producto {
  width: auto;
  height: 22vh;
  margin-top: 10px;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.contenedor-index .img-producto:hover {
  transform: scale(1.1);
}

/*-----------------------------------------------------------------------Comienzo pag. Carrito-------------------------------------------------------------------------------*/
.p-carrito {
  text-align: center;
  font-size: 1.1875rem;
  color: rgb(255, 255, 255);
}
.p-carrito p:first-of-type::after {
  content: " 🛒";
  font-size: 1.5625rem;
}

/*-------------------------------------------------------------------------Final pag. Carrito------------------------------------------------------------------------------- */
/*-----------------------------------------------------------------------Comienzo pag. Contactanos---------------------------------------------------------------------------*/
.contenedor-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-sucursales {
  margin-bottom: 10px;
}

.caja-sucursales {
  max-width: 40.625rem;
  margin-bottom: 20px;
}
.caja-sucursales iframe {
  border-radius: 10px;
}
.caja-sucursales p {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.063em;
}
.caja-sucursales .contacto-redes {
  margin-top: 10px;
  margin-bottom: 10px;
}

.caja-form {
  padding-left: 9.375rem;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 40.625rem;
}
.caja-form label {
  color: rgb(255, 255, 255);
  font-size: 0.938em;
  font-family: "Montserrat", sans-serif;
}
.caja-form input,
.caja-form select,
.caja-form option,
.caja-form textarea {
  display: block;
  background-color: #cbc8c8;
  font-family: "Montserrat", sans-serif;
  color: black;
  padding: 6px;
  border-radius: 4px;
  border: none;
  transition: 0.2s ease;
}
.caja-form input:focus,
.caja-form select:focus,
.caja-form option:focus,
.caja-form textarea:focus {
  box-shadow: 0 0 0 2px rgba(0, 255, 156, 0.5);
}
.caja-form .btn {
  background-color: rgb(124, 20, 222);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
  padding: 5px;
  cursor: pointer;
}
.caja-form .btn:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

/*------------------------------------------------------------------------Final pag. Contactanos------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------- Inicio pag. Login------------------------------------------------------------------------------- */
.layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
.layout .grid-login {
  display: grid;
  place-items: center;
}
.layout .caja-login h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.layout .caja-login form {
  display: grid;
  justify-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 12.5rem;
}
.layout .caja-login form label {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}
.layout .caja-login form input {
  display: block;
  background-color: #cbc8c8;
  font-family: "Montserrat", sans-serif;
  color: black;
  padding: 6px;
  border-radius: 4px;
  border: none;
  transition: 0.2s ease;
}
.layout .caja-login form input:focus {
  box-shadow: 0 0 0 2px rgba(0, 255, 156, 0.5);
}
.layout .caja-login form .btn {
  background-color: rgb(124, 20, 222);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
  padding: 5px;
  cursor: pointer;
}
.layout .caja-login form .btn:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

/*---------------------------------------------------------------------- Final pag. Login---------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------- Inicio pag.Arma tu Pc------------------------------------------------------------------------------  */
.div-armatupc {
  color: rgb(255, 255, 255);
  font-size: 1.1875rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.div-armatupc p::after {
  content: " 💻";
}

.grid-armado {
  display: grid;
  grid-template-columns: 31.25rem 1fr;
  gap: 32px;
}
.grid-armado .caja1-grid {
  margin-top: 20px;
  display: grid;
}
.grid-armado .product-grid {
  display: grid;
  color: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-items: center;
}
.grid-armado .product-grid h3 {
  text-align: start;
  font-size: 1.125em;
}
.grid-armado .product-grid img {
  height: 22vh;
  width: auto;
  justify-self: center;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.grid-armado .product-grid img:hover {
  transform: scale(1.1);
}
.grid-armado .product-grid input {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  cursor: pointer;
}
.grid-armado .caja2-grid {
  margin-top: 20px;
  min-width: 1.25rem;
  height: 25vh;
  display: grid;
  justify-items: center;
  text-align: center;
}
.grid-armado .caja2-grid h3 {
  text-align: center;
  justify-self: center;
  margin-left: 0;
}
.grid-armado .caja2-grid ul li {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.063em;
}

/*-----------------------------------------------------------------------Final Arma tu PC---------------------------------------------------------------------------------- */
/*----------------------------------------------------------------------- Comienzo del Footer---------------------------------------------------------------------------------*/
footer {
  background-color: rgb(124, 20, 222);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 5px;
}

.title-footer {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 9px;
}

.p-footer p {
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  font-family: sans-serif;
  margin-left: 10px;
  margin-bottom: 4px;
}

.p-footer p:last-child {
  margin-bottom: 0px;
}

.logo-redes {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.logo-redes img {
  width: auto;
  height: 8.5vh;
  transition: transform 0.2s ease;
  display: block;
  margin-top: 0px;
}

.logo-redes img:hover {
  transform: scale(1.1);
}

/*------------------------------------------------------------------------ Final del Footer---------------------------------------------------------------------------------- */
footer {
  background-color: rgb(124, 20, 222);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 5px;
}
footer .title-footer {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 9px;
}
footer .p-footer p {
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  font-family: sans-serif;
  margin-left: 10px;
  margin-bottom: 4px;
}
footer .p-footer:last-child {
  margin-bottom: 0px;
}
footer .logo-redes {
  display: flex;
  justify-content: center;
  gap: 10px;
}
footer .logo-redes img {
  width: auto;
  height: 8.5vh;
  transition: transform 0.2s ease;
  display: block;
  margin-top: 0px;
}
footer .logo-redes img:hover {
  transform: scale(1.1);
}

/* -----------------------------------------------------------------------Comienzo de Media Query-----------------------------------------------------------------------------*/
@media (max-width: 500px) {
  /*---------------------------------------------------------------------- Comienzo Mediaquery del header---------------------------------------------------------------------*/
  header .header-superior {
    margin-top: 0px;
  }
  header .logo {
    height: 13vh;
    margin-right: 0px;
  }
  header .search-bar {
    width: auto;
  }
  header .search-bar input {
    padding-left: 0px;
  }
  header .search-bar button {
    width: 7.8vw;
    height: 5vh;
  }
  /*-----------------------------------------------------------------------Final Mediaquery del header------------------------------------------------------------------------*/
  /*---------------------------------------------------------------------- Comienzo Mediaquery del Main---------------------------------------------------------------------- */
  .contenedor-index {
    flex-direction: column;
  }
  /* ------------------------------------------------------------------------Final Mediaquery del Main------------------------------------------------------------------------- */
  /*-----------------------------------------------------------------------Mediaquery pag. Contacto---------------------------------------------------------------------------*/
  .caja-sucursales {
    max-width: 31.25rem;
    margin-bottom: 20px;
  }
  .caja-sucursales iframe {
    border-radius: 10px;
    max-width: 31.25rem;
  }
  .caja-form {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 31.25rem;
  }
  /*---------------------------------------------------------------------Final Mediaquery pag. Contacto-----------------------------------------------------------------------*/
  /* ------------------------------------------------------------------------ Inicio pag.Arma tu Pc---------------------------------------------------------------------------- */
  .grid-armado {
    grid-template-columns: 1fr;
  }
  /*-----------------------------------------------------------------------------Final Arma tu PC------------------------------------------------------------------------------ */
}

/*# sourceMappingURL=style.css.map */
