@use "utilities/variables" as *;
@use "utilities/mixins";
@use "base/reset";
@use "layout/header";
@use "components/nav";
@use "base/generales";
@use "components/carritop";
@use "components/forms";
@use "components/armadopc";
@use "layout/footer";
@use "layout/mediaquery";

