@use "../Utilities/variables" as *;
@use "../Utilities/mixins.scss" as m;

// -------------------------------------------------------------------------------Nuevo footer---------------------------------------------------------------

footer {
  background-color: $bg_hyf;
  @include m.flex(row,space-around);
  flex-wrap: wrap;
  padding: 1.875rem 3.125rem .625rem;
  gap: .3125rem;

  .title-footer {
    margin-bottom: .4375rem;
    img {
      display: block;
      width: auto;
      height: 1.25rem;
    }
  }

  h2 {
    color: $font_colorhyf;
    margin: 0px;
    padding: 0px;
  }

  .p-footer {
    p {
      font-size: 1.188em;
      color: $font_colorhyf;
      margin: 0px;
      letter-spacing: 1px;
      font-weight: 400;
    }
  }
}
