@use "../Utilities/variables" as *;
@use "../Utilities/mixins.scss" as m;

header {
  background-color: $bg_hyf;
  min-height: 15vh;
  display: flex;
@include m.flex (column,center);

  .header-superior {
@include m.flex (null,center);
    margin-top: -10px;
  }

  .logo {
    width: auto;
    height: 15vh;
    margin-right: 5px;
  }

  .search-bar {
    background-color: #fff;
    width: 20vw;
    height: 5vh;
    border: #000000 solid 0.125rem;
    border-radius: 1.875rem;
    display: flex;
    align-items: center;

    input {
      font-size: 1.063em;
      flex: 1;
      border: 0;
      outline: 0;
      background-color: transparent;
      color: rgb(000, 000, 000);
      padding-left: 20px;
      cursor: text;

      &::placeholder {
        color: #888;
        font-family: $font_principal;
      }
    }

    button {
      background-color: transparent;
      width: 3vw;
      height: 5vh;
      border-radius: 1.875rem;
      cursor: pointer;
    }
  }

  .iconos-header {
    display: flex;
    gap: 10px;
  }

  .carrito-icon i {
    font-size: 1.563em;
    color: $font_color;
    margin-left: 10px;
  }

  .login-icon i {
    font-size: 1.563em;
    color: $font_color;
  }
}
