@use "../Utilities/variables" as *;
@use "../Utilities/mixins.scss" as m;

header {
  background-color: $bg_hyf;
  min-height: 100px;
  width: 100%;
  display: flex;
  @include m.flex(column, center);
  padding: .8125rem .625rem 0rem;

  .header-superior {
    @include m.flex(null, center);
    gap: 10px;
    width: 100%;
  }

  .logo {
    width: auto;
    height: 22px;
    display: block;
    flex-shrink: 0;
  }

  .search-bar {
    flex: 1;
    max-width: 400px;
    background-color: $font_colorhyf;
    height: 31px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 .625rem;
    border: 2px solid #afafaf;

    input {
      font-size: 1em;
      flex: 1;
      border: none;
      outline: none;
      background: transparent;
      color: black;
      padding: .3125rem;
      cursor: text;

      &::placeholder {
        color: #888;
      }
    }

    button {
      border: none;
      cursor: pointer;
    }
  }

  .iconos-header {
    display: flex;
    gap: .625rem;
  }

  .carrito-icon i {
    font-size: 1.563em;
    color: $font_colorhyf;
  }

  .login-icon i {
    font-size: 1.563em;
    color: $font_colorhyf;
  }
}
