/* -----------------------------------------------------------------------Comienzo de Media Query-----------------------------------------------------------------------------*/
@use "../Utilities/variables" as *;

@media (max-width: 500px) {
  /*---------------------------------------------------------------------- Comienzo Mediaquery del header---------------------------------------------------------------------*/

  header {

    .header-superior {
      margin-top: 0px;
    }

    .logo {
      height: 13vh;
      margin-right: 0px;
    }

    .search-bar {
      width: auto;

      input {
        padding-left: 0px;

      }
      
        button {
          width: 7.8vw;
          height: 5vh;
        }
    }
  }

  /*-----------------------------------------------------------------------Final Mediaquery del header------------------------------------------------------------------------*/

  /*---------------------------------------------------------------------- Comienzo Mediaquery del Main---------------------------------------------------------------------- */

  .contenedor-index {
    flex-direction: column;
  }

  /* ------------------------------------------------------------------------Final Mediaquery del Main------------------------------------------------------------------------- */

  /*-----------------------------------------------------------------------Mediaquery pag. Contacto---------------------------------------------------------------------------*/

  .caja-sucursales {
    max-width: 31.25rem;
    margin-bottom: 20px;

    iframe {
      border-radius: 10px;
      max-width: 31.25rem;
      
    }
  }

  .caja-form {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 31.25rem;
  }

  /*---------------------------------------------------------------------Final Mediaquery pag. Contacto-----------------------------------------------------------------------*/

  /* ------------------------------------------------------------------------ Inicio pag.Arma tu Pc---------------------------------------------------------------------------- */

  .grid-armado {
    grid-template-columns: 1fr;
  }

  /*-----------------------------------------------------------------------------Final Arma tu PC------------------------------------------------------------------------------ */
}
