/* -----------------------------------------------------------------------Comienzo de Media Query-----------------------------------------------------------------------------*/
@use "../Utilities/variables" as *;

@media (max-width: 500px) {
  /*---------------------------------------------------------------------- Comienzo Mediaquery del header---------------------------------------------------------------------*/
  header {
    .header-superior {
      gap:3px;
    }

    .logo {
      height: 16px;
    }

      .search-bar {
    max-width: 240px;
  }
  }

  /*-----------------------------------------------------------------------Final Mediaquery del header------------------------------------------------------------------------*/

  /*---------------------------------------------------------------------- Comienzo Mediaquery del Main---------------------------------------------------------------------- */

  .contenedor-index {
    flex-direction: column;
  }

  /* ------------------------------------------------------------------------Final Mediaquery del Main------------------------------------------------------------------------- */

  /*-----------------------------------------------------------------------Mediaquery pag. Contacto---------------------------------------------------------------------------*/

.caja-sucursales {
  max-width: 700px;

  iframe {
width: 100%;
height: 350px;
  }

  }

  /*---------------------------------------------------------------------Final Mediaquery pag. Contacto-----------------------------------------------------------------------*/

  /* ------------------------------------------------------------------------ Inicio pag.Arma tu Pc---------------------------------------------------------------------------- */

.grid-armado {
  grid-template-columns: 1fr;

  .elegir-componentes {
    grid-template-columns: repeat(2, auto);

    .componentes-armado {
      width: 200px;
    }
  }
}


  /*-----------------------------------------------------------------------------Final Arma tu PC------------------------------------------------------------------------------ */

footer {

  padding: .9375rem .4375rem .625rem;
}
}
