@charset "UTF-8";
/*-----------------------------------------------------------------------------Comienzo del Reset Css-----------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  min-height: 100vh;
  font-size: 100%;
  background-color: #dfd7d7;
  color: #292828;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

/*----------------------------------------------------------------------Final del Reseteo de Css---------------------------------------------------------------------------*/
header {
  background-color: #9536ed;
  min-height: 10vh;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .header-superior {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo {
  width: auto;
  height: 13vh;
}
header .search-bar {
  background-color: rgb(234, 234, 234);
  width: 20vw;
  height: 5vh;
  border: #000000 solid 0.125rem;
  border-radius: 1.875rem;
  display: flex;
  align-items: center;
}
header .search-bar input {
  font-size: 1em;
  flex: 1;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 5px;
  cursor: text;
}
header .search-bar input::placeholder {
  color: #888;
  font-family: "Montserrat", sans-serif;
}
header .search-bar button {
  background-color: transparent;
  width: 3vw;
  height: 5vh;
  border-radius: 1.875rem;
  cursor: pointer;
}
header .iconos-header {
  display: flex;
  gap: 10px;
}
header .carrito-icon i {
  font-size: 1.563em;
  color: #292828;
}
header .login-icon i {
  font-size: 1.563em;
  color: #292828;
}

nav .navbar-brand {
  color: #292828;
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  transition: outline-offset 0.2s ease, background 0.2s ease;
  font-weight: 600;
}
nav .navbar-brand:hover {
  color: #292828;
}
nav .navbar-brand:focus {
  color: #292828;
  outline: 0.125rem solid rgb(234, 234, 234);
  outline-offset: 0.1875rem;
}

.navbar .nav-link {
  color: #292828;
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  transition: outline-offset 0.2s ease, background 0.2s ease;
  font-weight: 600;
}
.navbar .nav-link:focus {
  outline: 0.125rem solid rgb(234, 234, 234);
  outline-offset: 0.1875rem;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
nav ul li {
  display: inline-block;
  margin: 10px;
}

h1 {
  font-size: 1.875em;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.5px;
}

h2 {
  font-size: 1.5em;
  text-align: start;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-left: 15px;
  font-weight: 700;
}

h3 {
  font-size: 1.4em;
  text-align: center;
  font-weight: 600;
}

.contenedor-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.contenedor-index .product-flex {
  flex: 1 0 30vw;
  text-align: center;
  position: relative;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contenedor-index .product-flex h3 {
  font-size: 1.125em;
  font-weight: 600;
}

.img-producto {
  width: auto;
  height: 22vh;
  margin-top: 10px;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.img-producto:hover {
  transform: scale(1.1);
}

.logo-redes {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.logo-redes img {
  width: auto;
  height: 8.5vh;
  transition: transform 0.2s ease;
  margin-top: 0px;
}
.logo-redes img:hover {
  transform: scale(1.1);
}

/*-----------------------------------------------------------------------Comienzo pag. Carrito-------------------------------------------------------------------------------*/
.p-carrito {
  text-align: center;
  font-size: 1.375em;
  font-weight: 500;
}
.p-carrito p:first-of-type::after {
  content: " 🛒";
  font-size: 1.5625rem;
}

/*-------------------------------------------------------------------------Final pag. Carrito------------------------------------------------------------------------------- */
/*-----------------------------------------------------------------------Comienzo pag. Contactanos---------------------------------------------------------------------------*/
.contenedor-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-sucursales {
  margin-bottom: 10px;
}

.caja-sucursales {
  max-width: 40.625rem;
  margin-bottom: 20px;
}
.caja-sucursales iframe {
  border-radius: 10px;
}
.caja-sucursales p {
  font-size: 1.188em;
  font-weight: 400;
}
.caja-sucursales p:first-of-type::before {
  content: "📍";
}
.caja-sucursales p:nth-of-type(2)::before {
  content: "📞";
}
.caja-sucursales p:nth-of-type(3)::before {
  content: "🕑";
}
.caja-sucursales .contacto-redes {
  margin-top: 10px;
  margin-bottom: 10px;
}

.caja-form {
  display: flex;
}
.caja-form label {
  font-size: 0.938em;
  font-weight: 500;
}
.caja-form input,
.caja-form select,
.caja-form option,
.caja-form textarea {
  display: block;
  background-color: #cbc8c8;
  font-family: "Montserrat", sans-serif;
  color: black;
  padding: 6px;
  border-radius: 4px;
  border: none;
  transition: 0.2s ease;
}
.caja-form input:focus,
.caja-form select:focus,
.caja-form option:focus,
.caja-form textarea:focus {
  box-shadow: 0 0 0 2px rgba(0, 255, 156, 0.5);
}
.caja-form .btn {
  background-color: #9536ed;
  color: #292828;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
  padding: 5px;
  cursor: pointer;
}
.caja-form .btn:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

/*------------------------------------------------------------------------Final pag. Contactanos------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------- Inicio pag. Login------------------------------------------------------------------------------- */
.layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}
.layout .grid-login {
  display: grid;
  place-items: center;
}
.layout .caja-login h3 {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.layout .caja-login form {
  display: grid;
  justify-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 12.5rem;
}
.layout .caja-login form label {
  font-size: 1em;
  font-weight: 500;
}
.layout .caja-login form input {
  display: block;
  background-color: #cbc8c8;
  font-family: "Montserrat", sans-serif;
  color: black;
  padding: 6px;
  border-radius: 4px;
  border: none;
  transition: 0.2s ease;
}
.layout .caja-login form input:focus {
  box-shadow: 0 0 0 2px rgba(0, 255, 156, 0.5);
}
.layout .caja-login form .btn {
  background-color: #9536ed;
  color: #292828;
  font-family: "Montserrat", sans-serif;
  transition: 0.3s ease;
  padding: 5px;
  cursor: pointer;
}
.layout .caja-login form .btn:hover {
  opacity: 0.85;
  transform: scale(1.05);
}

/*---------------------------------------------------------------------- Final pag. Login---------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------- Inicio pag.Arma tu Pc------------------------------------------------------------------------------  */
.div-armatupc {
  font-size: 1.375em;
  text-align: center;
  font-weight: 500;
}
.div-armatupc p::after {
  content: " 💻";
}

.grid-armado {
  display: grid;
  grid-template-columns: 1fr 320px;
  gap: 20px;
}
.grid-armado .elegir-componentes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  row-gap: 10px;
}
.grid-armado .elegir-componentes .componentes-armado {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.grid-armado .elegir-componentes .componentes-armado span {
  text-align: center;
  font-weight: 600;
  font-size: 1.188em;
}
.grid-armado .elegir-componentes .componentes-armado img {
  height: auto;
  width: 100px;
  justify-self: center;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.grid-armado .elegir-componentes .componentes-armado img:hover {
  transform: scale(1.1);
}
.grid-armado .lista-componentes {
  display: grid;
  justify-items: center;
  text-align: center;
}
.grid-armado .lista-componentes h3 {
  text-align: center;
  justify-self: center;
}
.grid-armado .lista-componentes ul li {
  font-size: 1.188em;
  font-weight: 600;
}

/*-----------------------------------------------------------------------Final Arma tu PC---------------------------------------------------------------------------------- */
footer {
  background-color: #9536ed;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 5px;
}
footer .title-footer {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 9px;
}
footer .p-footer p {
  font-size: 1.188em;
  margin-left: 10px;
  margin-bottom: 4px;
}
footer .p-footer:last-child {
  margin-bottom: 0px;
}

/* -----------------------------------------------------------------------Comienzo de Media Query-----------------------------------------------------------------------------*/
@media (max-width: 500px) {
  /*---------------------------------------------------------------------- Comienzo Mediaquery del header---------------------------------------------------------------------*/
  header .header-superior {
    margin-top: 0px;
  }
  header .logo {
    height: 13vh;
    margin-right: 0px;
  }
  header .search-bar {
    width: auto;
  }
  header .search-bar input {
    padding-left: 0px;
  }
  header .search-bar button {
    width: 7.8vw;
    height: 5vh;
  }
  /*-----------------------------------------------------------------------Final Mediaquery del header------------------------------------------------------------------------*/
  /*---------------------------------------------------------------------- Comienzo Mediaquery del Main---------------------------------------------------------------------- */
  .contenedor-index {
    flex-direction: column;
  }
  /* ------------------------------------------------------------------------Final Mediaquery del Main------------------------------------------------------------------------- */
  /*-----------------------------------------------------------------------Mediaquery pag. Contacto---------------------------------------------------------------------------*/
  .caja-sucursales {
    max-width: 31.25rem;
    margin-bottom: 20px;
  }
  .caja-sucursales iframe {
    border-radius: 10px;
    max-width: 31.25rem;
  }
  .caja-form {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 31.25rem;
  }
  /*---------------------------------------------------------------------Final Mediaquery pag. Contacto-----------------------------------------------------------------------*/
  /* ------------------------------------------------------------------------ Inicio pag.Arma tu Pc---------------------------------------------------------------------------- */
  .grid-armado {
    grid-template-columns: 1fr;
  }
  /*-----------------------------------------------------------------------------Final Arma tu PC------------------------------------------------------------------------------ */
}

/*# sourceMappingURL=style.css.map */
