@use "../Utilities/variables" as *;

@mixin buttons {
  background-color: $bg_hyf;
  color: $font_colorhyf;
  font-family: $font_principal;
  transition: 0.3s ease;
  padding: 5px;
  cursor: pointer;
  &:hover {
    opacity: 0.85;
    transform: scale(1.05);
  }
}

@mixin flex ($direction,$content){
  display: flex;
  justify-content: $content;
  align-items: center;
  flex-direction: $direction;
}

@mixin forms{
display: block;
background-color:#f6f6f6;
font-family: $font_principal;
color: black;
padding: 6px;
border-radius: 4px;
border: none;
  transition: 0.2s ease;

  &:focus {
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
  }

}