@use "../Utilities/variables" as *;
@use "../Utilities/mixins.scss" as m;
/* --------------------------------------------------------------------- Inicio pag.Arma tu Pc------------------------------------------------------------------------------  */

.div-armatupc {
  font-size: 1.375em;
  text-align: center;
  font-weight: 500;

  p {
    &::after {
      content: " 💻";
    }
  }
}

.grid-armado {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;

  .elegir-componentes {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 1.25rem;
    column-gap: 1.25rem;
    padding: 1.875rem .9375rem;
    justify-content: center;

    .componentes-armado {
      height: 250px;
      width: 250px;
      display: flex;
      @include m.flex(column, center);
      flex-wrap: wrap;
      background-color: #f6f6f6;
      border: 2px solid #afafaf;
      border-radius: 10px;

      span {
        text-align: center;
        font-weight: 600;
        font-size: 1.188em;
      }

      img {
        height: auto;
        width: 100px;
        transition: transform 0.2s ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .lista-componentes {
    display: grid;
    justify-items: start;
    text-align: start;
    gap: .625rem;
        margin: 1.5625rem;


    h3 {
      text-align: center;
      justify-self: center;
    }

    ul {
      li {
        font-size: 1.188em;
        font-weight: 600;

      }
    }
  }
}

/*-----------------------------------------------------------------------Final Arma tu PC---------------------------------------------------------------------------------- */
