@use "../Utilities/variables" as *;

/*-----------------------------------------------------------------------Comienzo pag. Carrito-------------------------------------------------------------------------------*/

.p-carrito {
  text-align: center;
  font-size: 1.1875rem;
  color:$font_color;

  p:first-of-type {
    &::after {
      content: " 🛒";
      font-size: 1.5625rem;
    }
  }
}

/*-------------------------------------------------------------------------Final pag. Carrito------------------------------------------------------------------------------- */
