@use "../Utilities/variables" as *;
@use "../Utilities/mixins.scss" as m; 

nav .navbar-brand {
  color: $font_color;
  font-size: 1.375rem;
  font-family: $font_principal;
  transition:
    outline-offset 0.2s ease,
    background 0.2s ease;

  &:hover {
    color: $font_color;
  }

  &:focus {
    color: $font_color;
    outline: 0.125rem solid rgb(255, 255, 255);
    outline-offset: 0.1875rem;
  }
}

.navbar {
  .nav-link {
    color: $font_color;
    font-size: 1.375rem;
    font-family: $font_principal;
    transition:
      outline-offset 0.2s ease,
      background 0.2s ease;

    &:focus {
      outline: 0.125rem solid rgb(255, 255, 255);
      outline-offset: 0.1875rem;
    }
  }
}

nav {
  ul {
@include m.flex (null,center);
    margin-top: -30px;

    li {
      display: inline-block;
      margin: 10px;
    }
  }
}