@use "../Utilities/variables" as *;
@use "../Utilities/mixins.scss" as m; 

nav .navbar-brand {
  color: $font_colorhyf;
  font-size: 1.375rem;
  font-family: $font_principal;
  transition:
    outline-offset 0.2s ease,
    background 0.2s ease;
font-weight:600;

  &:hover {
    color: $font_colorhyf;
  }

  &:focus {
    color: $font_colorhyf;
    outline: 0.125rem solid rgb(234, 234, 234);
    outline-offset: 0.1875rem;
  }
}

.navbar {
  .nav-link {
    color: $font_colorhyf;
    font-size: 1.375rem;
    font-family: $font_principal;
    transition:
      outline-offset 0.2s ease,
      background 0.2s ease;
      font-weight: 600;

    &:focus {
      outline: 0.125rem solid rgb(234, 234, 234);
      outline-offset: 0.1875rem;
    }
  }
}

nav {
  ul {
@include m.flex (null,center);

    li {
      display: inline-block;
      margin: 10px;
    }
  }
}