@use "../Utilities/variables" as *;
@use "../Utilities/mixins.scss" as m;

h1 {
  font-size:1.75em;
  text-align: center;
  font-weight: 700;
  letter-spacing: .0313rem;
  margin: .8125rem;
}

h2 {
  font-size: 1.25em;
  text-align: start;
  margin: .625rem .9375rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4em;
  text-align: center;
  font-weight: 500;
}

.contenedor-index {
  @include m.flex(row, center);
  flex-wrap: wrap;
  gap: 40px;
  padding: 1.875rem .9375rem;

  .product-flex {
    @include m.flex(column, center);
    width: 400px;
    height: 250px;
    padding: .9375rem;
    text-align: center;
    background-color: #f6f6f6;
    border: 2px solid #afafaf;
    border-radius: .625rem;
    gap: .625rem;

    h3 {
      font-size: 1.125em;
      font-weight: 600;
      order: 2;
    }
  }
}

.img-producto {
  width: auto;
  height: 160px;
  transition: transform 0.2s ease;
  cursor: pointer;
  order: 1;

  &:hover {
    transform: scale(1.1);
  }
}

.logo-redes {
  display: flex;
  justify-content: center;
  gap: .625rem;
  padding: 0rem;

  img {
    width: auto;
    height: 70px;
    transition: transform 0.2s ease;
    margin-top: 0px;

    &:hover {
      transform: scale(1.1);
    }
  }
}
