/*-----------------------------------------------------------------------------Comienzo del Reset Css-----------------------------------------------------------------------*/
@use "../Utilities/variables"as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  min-height: 100vh;
  font-size: 100%;
  background-color: $bg_body;
  color: $font_colorbody;
  font-family: $font_principal;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

/*----------------------------------------------------------------------Final del Reseteo de Css---------------------------------------------------------------------------*/
